{% load static %}
<!-- Footer -->
<div>
    <br><br><br>
</div>

<!-- 添加看板娘 -->
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>
<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>

<!-- 动态粒子特效 -->
<script id="c_n_script" src="https://blog-static.cnblogs.com/files/xiaokang01/js.js" 
  color="102, 204, 255" opacity="3" count="100" zindex="-2">
  // 颜色是#66ccff 天依应援色~
</script>

<!-- <footer class="py-3 bg-dark fixed-bottom"> -->
    <!-- <div class="container"> -->
        <!-- <p class="m-0 text-center text-white">Copyright &copy; www.dusaiphoto.com 2018</p> -->
    <!-- </div> -->
<!-- </footer> -->
